#home {
    margin: auto;
}

#home-title {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 20vh;
}

#home-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-row {
    display: flex;
    
}
  
.column {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#left-card {    
    justify-content: center;
    width: 60vw;
    height: 65vh;
}

#right-card {    
    justify-content: center;
    vertical-align: middle;
    width: 60vw;
    height: 65vh;
}