body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #1a8ce9 10%, #2196f3 45%, #f7bf259f 97%) left 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-datetime-picker__calendar .react-calendar {
  background: #ccc;
}

.error-msg {
  color: #ff0000;
}

[name="start_location"],
[name="end_location"],
[name="leave_datetime"] {
  width: 100%;
}
